*__pycache__
.idea/
.ipynb_checkpoints/
__pycache__/

# Outputs : images and tensorboard
logs/*/*
output/*


# misc
SNAPSHOTS.ipynb
TODO.md

# about VGG
data/VGG/*.npy

# about COCO
data/COCO/train2014/
data/COCO/train2014.zip


# about WikiArt
data/WikiArt/featured/*
data/WikiArt/all/*
data/WikiArt/test/
data/WikiArt/_test_wikiart.ipynb


# install stuffs
install/Miniconda3-4.2.12-Linux-x86_64.sh

Supprimerait _0.0_test_batch_generator.ipynb
Supprimerait data/WikiArt/
Supprimerait logs/
Supprimerait output/
